html {
	min-height: 100%;
	font-size: 14px;
}

@media (min-width:  768px) {
	html {
		font-size: 20px;
	}
}

@media (min-width:  992px) {
	html {
		font-size: 24px;
	}
}

@media (min-width:  1200px) {
	html {
		font-size: 32px;
	}
}

body {
	margin: 0;
	min-height: 100%;
	background-image: url(../img/triangle_background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: Comic Sans MS;
	color: #C9E9D3;
}

.heading-main {
	margin: 0;
	font-size: 4.5rem;
}

.button-main {
	background: none;
	border: 0.25rem solid #C9E9D3; /*8px*/
	border-radius: 1.5625rem; /*50px*/
	font-family: Comic Sans MS;
	color: #C9E9D3;
}

@media (orientation: landscape) {
	.button-main {
	    float: left;
	    margin-right: 1.25rem; /*40px*/
	    margin-top: 5rem; /*160px*/
	    font-size: 1rem;
		height: 3.125rem; /*100px*/
		width: 5.625rem; /*180px*/
	}
	.heading-main-container {
		padding-top: 5%;
		padding-left: 25%;
	}
	.first-button-main {
		margin-left: 3.75rem; /*120px*/
	}
}

@media (orientation: portrait) {
	.button-main {
	    float: none;
	    font-size: 2.25rem;
		height: 4rem;
		width: 100%;
		margin-top: 1.5rem;
	}
	.heading-main-container {
		text-align: center;
	}
}

.button-main:hover {
    background: rgba(173, 71, 141, 0.5); /* Цвет фона при наведении курсора */
}


/* стили блога */

.header-blog {
	text-align: center;
	display: inline-block;
	width: 70%;
}

@media (orientation: landscape) {
	.header-blog {
		font-size: 3rem; /*128px*/
	}

	.button-blog-container {
		width: 7.5rem;
	}

	.button-blog {
	    font-size: 1rem; /*32px*/
	    height: 2.5rem; /*80px*/
	}

	.paragraph-blog {
		margin: 1rem 0 1rem 1.25rem; /* 32px 0 32px 40px*/
	}
}

@media (orientation: portrait) {
	.header-blog {
		font-size: 2rem;
	}

	.button-blog-container {
		width: 5rem;
	}

	.button-blog {
	    font-size: 0.75rem; /*32px*/
	    height: 2rem; /*80px*/
	}

	.paragraph-blog {
		margin: 1rem 0 1rem 0.5rem;
	}
}


.header-blog a {
	text-decoration: none;
	color: #C9E9D3 !important;
	margin: 0;
}

.button-blog-container {
	display: inline-block;
	margin: 1.25rem 0 0 1.25rem;
	width: 20%;
}

.button-blog {
    background: none;
    border-right: 0.25rem solid #C9E9D3; /*8px*/
    border-left: 0.25rem solid #C9E9D3; /*8px*/
    font-family: Comic Sans MS;
	color: #C9E9D3;
    padding: 0.25rem 0.3rem; /*8px 12px*/
    border-radius: 1.5625rem; /*50px*/
    width: 100%;
    margin: 0;
}

.first-button-blog {
	border-top: 0.25rem solid #C9E9D3; /*8px*/
	border-bottom: 0.125rem solid #C9E9D3; /*4px*/
}
.second-button-blog {
	border-top: 0.125rem solid #C9E9D3; /*4px*/
	border-bottom: 0.125rem solid #C9E9D3; /*4px*/
}
.third-button-blog {
	border-top: 0.125rem solid #C9E9D3; /*4px*/
	border-bottom: 0.25rem solid #C9E9D3; /*8px*/
}

.button-blog:hover {
    background: rgba(173, 71, 141, 0.5); /* Цвет фона при наведении курсора */
}

button.active {
	background-color: #7A1BA2 !important;
}

.content-blog {
	width: 90%;
}

.paragraph-blog {
	border: 0.25rem solid #C9E9D3; /*8px*/
	width: 100%;
	font-size: 1rem; /*32px*/
    padding: 0.25rem 0.75rem; /*8px 24px*/
    border-radius: 1.5625rem; /*50px*/
}

.paragraph-blog a {
	color: #C9E9D3 !important;
}